{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex card border-secondary mb-3 mt-5">
			<div class="card-body">
				<h1>Présentation du festival Technonite</h1>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas nobis minus molestias molestiae veritatis sapiente! Illum in reiciendis dolorem maxime expedita necessitatibus odit iste, pariatur harum, sed illo inventore fugit!
					    Atque, consectetur. Dolores facilis labore velit provident, unde dolor in nisi quia ex corrupti voluptas quaerat laudantium, mollitia quasi non blanditiis incidunt voluptatibus? Fugiat sint ut velit nemo! Tempora, cupiditate.
					    Debitis amet reprehenderit facere aliquid corporis nam velit? Nulla fugit minima veniam doloribus asperiores praesentium? Quaerat odit optio adipisci possimus, at cupiditate sunt alias ut quia quod dignissimos commodi et.
					    Delectus ab amet eos tempore! Nobis, quisquam! Sed expedita voluptas fugit debitis dolore autem, odit animi laborum reiciendis. Reprehenderit velit alias aperiam commodi temporibus rerum dignissimos totam tempore cum aspernatur!
					    Consectetur itaque temporibus necessitatibus ratione enim ducimus dolores. Necessitatibus, nesciunt ipsa! Ducimus amet magni, praesentium quibusdam ipsam iste atque explicabo modi inventore perferendis adipisci eum natus esse, libero, ab sapiente.
					    Quibusdam, temporibus unde recusandae voluptates deleniti nemo neque, sit repudiandae dignissimos reprehenderit similique! Rem saepe, reiciendis ipsam dolore asperiores explicabo quas necessitatibus exercitationem fugit ab id praesentium eius, eaque dignissimos!
					    Obcaecati fuga quasi iure ratione iusto fugiat eaque incidunt a totam esse nihil beatae ex sed odit dolore aspernatur doloremque, veritatis aut praesentium illo cum non, saepe, magni harum. Debitis.
					    Molestiae in quisquam quia nobis molestias obcaecati, corporis a laboriosam nihil magni quod iusto, eaque ratione cum amet impedit, maxime necessitatibus atque vel totam nesciunt possimus! Illo molestias natus animi.
					    Doloribus expedita id, quasi facere assumenda soluta excepturi illum voluptate nesciunt delectus, asperiores commodi fuga earum fugiat tempora similique dolore perferendis. Accusamus odit, maxime doloremque voluptatibus tempore commodi sunt laudantium.
					    Aspernatur a labore alias nostrum. Accusantium ratione quae et in aut quibusdam libero aspernatur sint alias odio dolorem, hic similique accusamus enim minima quisquam quam itaque exercitationem fugit unde atque!
					    Explicabo reprehenderit fugiat error assumenda delectus quis nam omnis similique praesentium quo neque, consectetur nisi. Saepe repudiandae explicabo, odio corporis reiciendis nisi accusamus suscipit, adipisci ipsam necessitatibus vel animi quidem.
					    Enim corrupti nesciunt impedit laudantium vitae repellat nam asperiores nobis quo. Ipsam, blanditiis optio suscipit distinctio quidem veniam minima quis voluptatem ab unde, voluptas doloribus aliquam minus, nesciunt eligendi eos!
					    Quis, nesciunt temporibus. Laborum enim, labore ipsum repudiandae quae veritatis adipisci eaque fuga debitis sapiente animi eius corporis pariatur eum aliquam delectus, atque ab ea! Quam quisquam sequi sit placeat?
					    Quam, quo consequuntur quibusdam itaque ducimus molestiae omnis illum eum fugiat reprehenderit incidunt numquam voluptatem adipisci officiis unde minima consectetur velit porro, laboriosam dignissimos doloribus laudantium cumque, hic aspernatur! Debitis?
					    Obcaecati dolores harum, nihil perferendis, illum eligendi consectetur debitis sint tenetur tempora accusamus aperiam dolor nostrum unde! Voluptatibus rerum corporis dolor totam distinctio, rem fuga architecto ducimus vitae quaerat laborum!</p>
			</div>
		</div>
	</div>

{% endblock %}
