{% block title %}{% endblock %}

{% block body %}
	<header>
		<div class="text-center header my-5">
			<div class="mb-5" id="festTitle">Festival Technonite</div>
			<div class="festSent lead mb-5">Du 20 au 22 août</div>
			<div class="festSent lead">les plaques vont bouger et la terre va trembler !</div>
		</div>
	</header>
{% endblock %}
